<html>
  <head>
    <title>Contacts</title>
  </head>
  <body>
    <h1>Comment me joindre ? </h1>
    <h2>Paypal</h2>
    <p>bientot</p>

        <h2>Instagram</h2>
    <p>
    <a href="https://www.instagram.com/77.7.7777/">VOIR ICI</a>
    </p>
  </body>
</html>