<html>
  <head>
    <title>Présentation de notre team de choc</title>
  </head>
  <body>
    <h1>Présentation de notre team de choc</h1>
    <h2>Thomas</h2>
    <p>Seul mousaillon ayant survécu a la tempête lilloise</p>

        <h2>777</h2>
    <p>Un alias virtuel avec qui je communique en cas de besoin. 
    <a href="https://www.instagram.com/77.7.7777/">VOIR ICI</a>
    </p>
  </body>