<html>
<head>
	<title>
		Bonjour


	</title>
</head>
<body>
<p>
<p> LAST NAME <%= "#{@user.last_name}" %> </p> 
<p> FIRST NAME <%= "#{@user.first_name}" %> </p>
<p> AGE <%= "#{@user.age}" %> </p>
<p> DESCRIPTION <%= "#{@user.description}" %> </p>

</p>
</body>
</html>